<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> cars </title>
</head>
<body>
  <h1 class="text-center mt-4"> Angular crud application with Springboot </h1>

  <div id="btn_title" class="mt-3">
    <h3 class="container"> Here is my table of cars : </h3>
    <a [routerLink]="['/cars/create']" class="btn btn-success"> Create new car </a>
  </div>

  <table class="container table mt-4 text-center table-bordered table-hover">
    <thead>
    <tr class="table-success">
      <th scope="col">#</th>
      <th scope="col"> Name </th>
      <th scope="col"> Color </th>
      <th scope="col"> Top speed </th>
      <th scope="col"> Horse power </th>
      <th width="10%" scope="col"> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars">
      <th scope="row" *ngIf="cars"> {{ cars.indexOf(car) + 1 }} </th>
      <td> {{ car.name }} </td>
      <td> {{ car.color }} </td>
      <td> {{ car.topSpeed }} </td>
      <td> {{ car.horsePower }} </td>
      <td id="btn_td">
        <a title="edit" href="#" class="btn btn-outline-primary"> <i class='bx bx-edit-alt'></i> </a>
        <a title="delete" href="#" class="btn btn-outline-danger"> <i class='bx bx-trash' ></i> </a>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>
