<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Update car </title>
</head>
<body>

<div id="parent" class="container">
  <form (ngSubmit)="onUpdate(car.id)">

    <div class="form-group">
      <label for="exampleInputName"> Car's name </label>
      <input [(ngModel)]="car.name" name="name" type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter car's name">
    </div>

    <div class="form-group mt-4">
      <label for="exampleInputColor"> Car's color </label>
      <input [(ngModel)]="car.color" name="color" type="text" class="form-control" id="exampleInputColor" aria-describedby="emailHelp" placeholder="Enter car's color">
    </div>

    <div class="form-group mt-4">
      <label for="exampleInputSpeed"> Car's top speed </label>
      <input [(ngModel)]="car.topSpeed" name="topSpeed" type="number" class="form-control" id="exampleInputSpeed" aria-describedby="emailHelp" placeholder="Enter car's top speed">
    </div>

    <div class="form-group mt-4">
      <label for="exampleInputPower"> Car's horse power </label>
      <input [(ngModel)]="car.horsePower" name="horsePower" type="number" class="form-control" id="exampleInputPower" aria-describedby="emailHelp" placeholder="Enter car's horse power">
    </div>

    <button type="submit" class="btn btn-primary mt-4"> Submit </button>

  </form>
</div>

</body>
</html>
